* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.register-page {
  min-height: 100vh;

  background:
    linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url("https://images.unsplash.com/photo-1554224155-6726b3ff858f?w=1600");

  background-size: cover;
  background-position: center;
}

.register-overlay {
  min-height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 20px;
}

.register-card {
  width: 450px;

  backdrop-filter: blur(15px);

  background: rgba(
    255,
    255,
    255,
    0.12
  );

  border: 1px solid rgba(
    255,
    255,
    255,
    0.2
  );

  border-radius: 20px;

  padding: 40px;

  color: white;

  box-shadow:
    0 8px 32px rgba(
      0,
      0,
      0,
      0.3
    );
}

.bank-logo {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  color: #ffd700;
  margin-bottom: 20px;
}

.register-card h2 {
  text-align: center;
  margin-bottom: 10px;
}

.register-card p {
  text-align: center;
  margin-bottom: 25px;
  color: #f1f1f1;
}

.register-card form {
  display: flex;
  flex-direction: column;
}

.register-card input {
  padding: 14px;
  margin-bottom: 15px;

  border: none;
  border-radius: 10px;

  font-size: 16px;
}

.register-card input:focus {
  outline: 2px solid #2563eb;
}

.register-card button {
  padding: 14px;

  border: none;
  border-radius: 10px;

  background: #2563eb;

  color: white;
  font-size: 16px;
  font-weight: bold;

  cursor: pointer;

  transition: 0.3s;
}

.register-card button:hover {
  background: #1d4ed8;
}

.register-footer {
  margin-top: 25px;
  text-align: center;
}

.register-footer a {
  color: #ab9f5b;
  margin-left: 6px;
  text-decoration: none;
  font-weight: bold;
}

.register-footer a:hover {
  text-decoration: underline;
}

@media (max-width: 500px) {
  .register-card {
    width: 100%;
  }
}